.seccion{
    padding: 5rem 0;
}

.seccion-titulo{
    position: relative;
    font-size: $fuente_tamanoh2;
    color: $color_principal;
    margin-bottom: $mb-4;
    text-align: center;
    
}

.seccion::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: $color_principal;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    width: calc(100% - 2rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@media screen and(min-width: 768px){
    .seccion{
        padding-top: 6rem;
    }

    .seccion-titulo{
        margin-bottom: 4rem;
        font-size: 2rem;
    }

}