.home{
    background-color: $color_principal;
    overflow: hidden;

    .home__contenedor{
        position: relative;
        height: calc(100vh - 3rem);
        grid-template-rows: repeat(2, max-content);
        align-content: space-around;
        row-gap: 1rem;

        .home__info{
            border-left: 4px solid $color_blanco;
            color: $color_blanco;
            z-index: 1;
            padding-left: 1.5rem;

            .home__nombre{
                font-size: 2rem;
            }

            .home__saludo,.home__profesion{
                display: block;
                font-weight: $fuente_bold;
            }

            .home__saludo{
                font-size: $fuente_tamanoChico;
            }

            .home__profesion{
                font-size: $fuente_tamanoNormal;
                margin-bottom: $mb-3;
            }

            .button{
                display: inline-block;
                background-color: $color_blanco;
                color: $color_principal;
                padding: .75rem 1rem;
                border-radius: .25rem;
                transition: .5s;

                &:hover{
                    background-color: $color_oscuro;
                    color: $color_principal;
                }
            }
        }

        .home__redes{
            display: flex;
            flex-direction: column;

            .home__redes--icono{
                width: max-content;
                font-size: 1.5rem;
                margin: 1rem 0;
                color: $color_blanco;
                transition: .5s;

                &:hover{
                    color: $color_oscuro;
                }
            }
        }

        .home__img{
            position: absolute;
            right: 0;
            bottom: 0;

            img{
                width: 300px;
            }

            @media screen and(min-width: 576px){
                img{
                    width: 50px;
                }
            }
        }
    }
}

@media screen and(min-width: 768px){
    .home{
        .home__contenedor{
            //width: 90%;
            height: 100vh;
            grid-template-rows: max-content .5fr;
            margin: auto;
            padding: 0 1.5rem;

            .home__info{
                .home__saludo{
                    font-size: 2rem;
                }

                .home__nombre{
                    font-size: 4rem;
                }
            }

            .home__img{
                img{
                    width: 600px;
                }
            }
        }

        
    }
}